@model BarCrawlers.Models.BarViewModel

@using Microsoft.AspNetCore.Identity
@using BarCrawlers.Data.DBModels


@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentUser = await UserManager.GetUserAsync(User);
    //var userId = currentUser.Id;
}


<div class=" row pt-3">
    <div class="col-md4 col-sm-4">
        <div class="figure-img">
            @if (Model.ImageSrc != null)
            {
                <a href="#">
                    <img class="img-responsive w-100" alt="@Model.Name" src="@Model.ImageSrc">
                </a>
            }
            else
            {
                <a href="#">
                    <img class="card-img-top  w-100" src="~/img/BarSiluet.jpg">
                </a>
            }
            <p>
                <div class="rating-box">
                    <h3>Rating: @Model.Rating (@Model.TimesRated rates)</h3>
                    <div class="ratings">
                        <span class="fa fa-star-o fa-2x"></span>
                        <span class="fa fa-star-o fa-2x"></span>
                        <span class="fa fa-star-o fa-2x"></span>
                        <span class="fa fa-star-o fa-2x"></span>
                        <span class="fa fa-star-o fa-2x"></span>
                    </div>
                    <input type="hidden" id="rating-value">
                </div>
            </p>
        </div>

    </div>
    <div class="col-md-6 col-sm-6">
        <h1 itemprop="name">@Model.Name</h1>
        <h3>Contact</h3>
        <p>
            @Model.Phone,  @Model.Email <br />
            @Model.Address, @Model.Town, @Model.Country <br />
        </p>
        @if (@Model.Location != null)
        {
            var locationSrc = Model.Location.Src;
            var LargeMapLink = Model.Location.LargeMapLink;
            var DirMapLink = Model.Location.DirMapLink;

            <div>
                <iframe width="325" height="280" frameborder="0" src=@locationSrc
                        scrolling="no">
                </iframe>
                <div style="white-space: nowrap; text-align: center; width: 325px; padding: 6px 0;">
                    <a id="largeMapLink" target="_blank" href=@LargeMapLink>View Larger Map</a> &nbsp; |
                    &nbsp;
                    <a id="dirMapLink" target="_blank" href=@DirMapLink>Get Directions</a>
                </div>
            </div>

        }
    </div>

</div>

<div class="col-sm-12">
    @if (User.Identity.IsAuthenticated)
    {
        @if (await UserManager.IsInRoleAsync(currentUser, "Magician"))
        {
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>

            @if (@Model.IsDeleted)
            {
                <form id="form_recover">
                    <input type="hidden" asp-for="Id" value="@Model.Id">
                    <input class="btn btn-primary" type="button" id="btnRecover" value="Recover" />
                </form>
            }
            else
            {
                <a class="btn btn-primary" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
            }
        }
    }
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
<br>
<div>
    <a class="btn btn-primary" asp-controller="BarUserComments" asp-action="Index" asp-route-barId="@Model.Id">Comments</a>
    <a class="btn btn-primary" asp-controller="Bars" asp-action="LoadCocktails" asp-route-id="@Model.Id">Cocktails</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @if (User.Identity.IsAuthenticated)
    {
        <script src="~/js/site.js" id="vars"
                data-id="@Model.Id"
                data-userId="@currentUser.Id"
                data-record="@Model.Rating"
                data-url="/Bars/Rate"></script>
        <script src="~/js/Bars/Recover.js"></script>
    }
    else
    {
        <script src="~/js/colorrating.js" id="vars"
                data-record="@Model.Rating"></script>
    }
}
