
@model IEnumerable<BarCrawlers.Models.CocktailViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<form asp-controller="Cocktails" asp-action="Index">
    <p>
        Bar: <input type="text" name="SearchString">
        <input type="submit" value="Search" class="btn btn-primary" />
    </p>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-hover table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimesRated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageSrc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAlcoholic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instructions)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr onclick="window.location = '/Cocktails/Details/@item.Id'">
            <td>
                <div class="container">
                    @if (string.IsNullOrEmpty(item.ImageSrc))
                    {
                        <img class="img-fluid" src="~/img/BarSiluet.jpg" height="50" width="50">

                    }
                    else
                    {
                        <img src="@item.ImageSrc" height="50" width="50">
                    }
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimesRated)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.ImageSrc)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAlcoholic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instructions)
            </td>
        </tr>
        }
    </tbody>
</table>

<div>
    @if (@ViewBag.CurrentPage > 0)
    {
        <a class="btn btn-primary" href="/Bar/LoadCocktails?id=@ViewBag.CurrentBarId&page=@(@ViewBag.CurrentPage - 1)&searchstring=@ViewBag.SearchString">Previous</a>
    }
    @if (!(@Model.Count() < @ViewBag.ItemsOnPage))
    {
        <a class="btn btn-primary" href="/Bar/LoadCocktails?id=@ViewBag.CurrentBarId&page=@(@ViewBag.CurrentPage + 1)&searchstring=@ViewBag.SearchString">Next</a>
    }
</div>


