
@model IEnumerable<BarCrawlers.Models.CocktailViewModel>

@using Microsoft.AspNetCore.Identity
@using BarCrawlers.Data.DBModels


@inject UserManager<User> _userManager

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentUser = await _userManager.GetUserAsync(User);
}

<h1>Cocktails</h1>

<form asp-controller="Cocktails" asp-action="LoadCocktails">
    <p>
        Bar: <input type="text" name="SearchString">
        <input type="submit" value="Search" class="btn btn-primary" />
    </p>
</form>
<div class="row">
    @foreach (var cocktail in Model)
    {
        <partial name="_CocktailPartial" model="@cocktail" />
    }
</div>

@*<table class="table table-hover table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimesRated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageSrc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAlcoholic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instructions)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr onclick="window.location = '/Cocktails/Details/@item.Id'">
                <td>
                    <div class="container">
                        @if (string.IsNullOrEmpty(item.ImageSrc))
                        {
                            <img class="img-fluid" src="~/img/defaultCocktailImg.jpg" height="50" width="50">
                        }
                        else
                        {
                            <img src="@item.ImageSrc" height="50" width="50">
                        }
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimesRated)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.IsDeleted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAlcoholic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Instructions)
                </td>
            </tr>
        }
    </tbody>
</table>*@

<div>
    @if (@ViewBag.CurrentPage > 0)
    {
        <a class="btn btn-primary" href="/Bar/LoadCocktails?id=@ViewBag.CurrentBarId&page=@(@ViewBag.CurrentPage - 1)&searchstring=@ViewBag.SearchString">Previous</a>
    }
    @if (!(@Model.Count() < @ViewBag.ItemsOnPage))
    {
        <a class="btn btn-primary" href="/Bar/LoadCocktails?id=@ViewBag.CurrentBarId&page=@(@ViewBag.CurrentPage + 1)&searchstring=@ViewBag.SearchString">Next</a>
    }
</div>

<p>
    <a class=" btn btn-primary" asp-controller="Bars" asp-action="Details" asp-route-id="@ViewBag.CurrentBar">Back to bar</a>
</p>

