@model IEnumerable<IngredientDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ingredients</h1>

<p>
    <a class="nav-link" asp-area="Magician" asp-controller="Ingredients" asp-action="Create">Create New</a>
</p>

<form asp-area="Magician" asp-controller="Ingredients" asp-action="Index">
    <p>
        Ingredient: <input type="text" name="SearchString">
        <input type="submit" value="Search" class="btn btn-primary" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAlcoholic)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAlcoholic)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    @if (@ViewBag.CurrentPage > 0)
    {
        @if (@ViewBag.SearchString == null)
        {
            <a class="btn btn-primary" href="/Magician/Ingredients/Index?page=@(@ViewBag.CurrentPage - 1)">Previous</a>
        }
        else
        {
            <a class="btn btn-primary" href="/Magician/Ingredients/Index?page=@(@ViewBag.CurrentPage - 1)&searchstring=@ViewBag.SearchString" @*asp-area="Magician" asp-controller="User" asp-action="Index"*@ @*asp-route-page=@(@ViewBag.CurrentPage - 1) asp-route-itemsOnPage=@ViewBag.ItemsOnPage asp-route-searchString="@ViewBag.SearchString"*@>Previous</a>
        }
    }
    @if (!(@Model.Count() < @ViewBag.ItemsOnPage))
    {
        @if (@ViewBag.SearchString == null)
        {
            <a class="btn btn-primary" href="/Magician/Ingredients/Index?page=@(@ViewBag.CurrentPage + 1)">Next</a>
        }
        else
        {
            <a class="btn btn-primary" href="/Magician/Ingredients/Index?page=@(@ViewBag.CurrentPage + 1)&searchstring=@ViewBag.SearchString" @*asp-area="Magician" asp-controller="User" asp-action="Index"*@ @*asp-route-page=@(@ViewBag.CurrentPage + 1) asp-route-itemsOnPage=@ViewBag.ItemsOnPage asp-route-searchString="@ViewBag.SearchString"*@>Next</a>
        }
    }
</div>
